@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 218, 217, 214;
  --background-start-rgb: 41, 41, 41;
  --background-end-rgb: 41, 41, 41;
}

select{
  color : rgb(39,20,58,255); 
  background-color: #efefef;
}
h1 {
  font-size: 10vh;
}
button{
  background-color: #e9e9ed;
  border: 0.2px solid #8f8f9d;
  border-radius: 3%;
  margin-top: 10px;
  padding: 0.5%;
  color: rgb(208, 210, 210);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  text-align: center;
  text-decoration: none;
  cursor: default;
  width: 16.4%;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

button:active{
    /* Styles lorsque le bouton est en train d'être cliqué */
    filter: grayscale(100%); /* Grise le bouton à 100% */  
}

button:hover{
  /* Styles lorsque survolé */
  background-color: #0056b3; /* Nouvelle couleur de fond */
  color: #fff; /* Nouvelle couleur du texte */
}


h2 {
  font-size: 8vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#divadmin{
  width: 50%;
}

#home{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 7px;;
}

#admin{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 7px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#divbleachlist{
  background-color: rgb(250, 250, 249);
  border-radius: 3px;
  border-color: rgb(41, 41, 41);
  margin-left: auto;
  margin-right: auto;

}